<div class="md-fab-action-item" >
    <button  class="md-default-theme md-button md-fab md-mini md-ink-ripple" type="button" ...attributes>                      
        {{yield}}
        <div class="md-ripple-container"></div>
    </button>
</div>