<md-fab-trigger>
    <button tabindex="0" class="md-default-theme md-button md-hue-5 md-fab " type="button" ...attributes>
        {{yield}}
        <div class="md-ripple-container" ></div>
    </button>
</md-fab-trigger>